# .env.docker.example = versionné
# .env.docker         = non versionné

# Ce fichier regroupe les variables d'environnement à fournir au docker-compose pour le lancement des différents services

# Local : 
#        docker compose --env-file=.env.docker.example
# (ou)   docker compose --env-file=.env.docker

# Prod :  
#        docker compose --env-file=.env.docker


# DATABASE
POSTGRES_USER=oquiz
POSTGRES_PASSWORD=oquiz
POSTGRES_DB=oquiz
POSTGRES_LOCAL_PORT=5454

# API
NODE_ENV=development
DATABASE_URL=postgres://oquiz:oquiz@database:5432/oquiz
API_LOCAL_PORT=3001
ALLOWED_ORIGINS=*

# ADMINER
ADMINER_LOCAL_PORT=8080